NODE_ENV=
NODE_OPTIONS=
DATABASE_URI=
JWT_SECRET=
TOKEN_VALIDATION_DURATION=
OPENAI_API_KEY=
PAYSTACK_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET=
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_FROM=